{% extends 'base.html' %}

{% block content %}

Bank of America is one of the largest lender banks in the US and is headquartered in Charlotte, North Carolina. The bank, through its banking and non-bank subsidiaries across the US and international markets, provides a range of banking and non-bank financial services and products through four business segments – Consumer Banking, Global Wealth and Investment Management, Global Banking, and Global Markets.

The bank serves approximately 66 million consumer and small business clients through approximately 4,300 retail financial centers, about 17,000 ATMs, and digital banking platforms with approximately 40 million active users. Founded in 1784, it employs around 212,000 staff.

Net income: USD 17.89 billion (2020)

Total assets: USD 2.97 trillion (3/2021)


{% endblock content %}
