{% extends 'investicon/dashboard.html' %}

{% load static %}

{% block content %}

    <div class="row">

        <!-- Area Chart -->
        <div class="col-xl-8 col-lg-7">
            <div class="card shadow mb-4">
                <div
                class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">Withdrawal Records</h6>
            </div>

    <div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Withdrawal Records</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            {% if withdrawal %}
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Amount</th>
                        <th>Transaction Id</th>
                        <th>Status</th>
                        <th>Wallet Address</th>
                        <th>Created</th>
                        {% if request.user.is_superuser %}
                            <th>Update Deposit</th>
                        {% endif %}
                    </tr>
                </thead>
                <tbody>
                    {% for data in withdrawal %}
                    <tr>
                        <td>{{data.amount}}</td>
                        <td>{{data.trx}}</td>
                        <td>{{data.status}}</td>
                        <td>{{data.address}}</td>
                        <td>{{data.created}}</td>
                        {% if request.user.is_superuser and data.status == "Pending" %}
                        <td>
                            <a href="{{data.get_admin_url}}" class="btn-md btn-secondary rounded-1 mt-2 p-2 small">Update Withdrawal </a>
                        </td>
                        {% else %}
                            <td class="center">Withdrawal Updated Already</td>
                        {% endif %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% else %}
                <h6 class='text-secondary'>No Withdrawal Records has been submitted yet</h6>
            {% endif %}
        </div>
    </div>
</div>
            </div>
            <div class="col-xl-4 col-lg-7">
                <div class="card shadow mb-4">
                    <div
                    class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-danger">Deposit Now</h6>
                </div>
                <div class=''>
                    <div class='centered'>
                        <h6 class='text-secondary'> You can easily deposit using this link <span class='text-info font-weight-bold'> <a href="{% url 'investicon:create-withdrawal' %}" class="d-none d-sm-inline-block shadow-md">
                            Link </a></span>
                         Or Reach out to us Through the <span class='text-info font-weight-bold'>Chat Support widget.</span></h6>
                        </div>
                </div>

        </div>
    </div>
</div>

<!-- /.container-fluid -->

{% endblock content %}
